
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=DM+Serif+Text&family=Lilita+One&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#blurred-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('dlsubg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(3px);
    z-index: -1;
}

.marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    background-color: #00703C;
    padding: 10px 0;
    position: fixed;
    left: 0;
    z-index: 1000;
    text-align: center;
}


.top { top: 0; }
.bottom { bottom: 0; }

.marquee {
    display: inline-block;
    font-size: 2em;
    font-weight: bold;
    color: white;
    font-family: 'Playfair Display', serif !important;
    text-transform: uppercase;
}

.footer {
    background-color: #BCD988;
    color: white;
    padding: 8px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-row {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.footer-row p {
    margin: 0;
}


.marquee-container, .footer {
    display: block;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #D3F2E4;
    color: #333;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    flex-direction: column;
    overflow-x: hidden;
}


.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    padding: 30px;
    overflow-y: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

p {
    font-family: 'Cormorant Garamond', serif;
}

input[type="radio"] {
    font-family: 'Cormorant Garamond', serif;
    display: block;
    font-size: 1.2em;
    margin: 10px 0;
    accent-color: #00703C;
}


#info-page {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

#info-page h1 {
    font-family: 'Playfair Display', serif;
    font-size: 2.5em;
    font-weight: bold;
    color: #00703C;
    margin-bottom: 20px;
}

#info-page p {
    font-size: 1.1em;
    margin-bottom: 40px;
}


form {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


h3 {
    font-family: 'DM Serif Text', serif;
    color: #00703C; /* Dark Green */
    font-size: 2em;
    margin: 20px 0;
}

label {
    font-family: 'Lilita One', cursive;
    display: block;
    font-size: 1.2em;
    margin: 10px 0;
    color: #00703C;
}


input[type="number"],
input[type="text"],
input[type="range"] {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #BCD988;
    width: 80%;
}


button {
    font-family: 'Lilita One', cursive;
    padding: 10px 20px;
    background-color: #00703C;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #04502A;
    transform: scale(1.1);
}

button:active {
    transform: scale(0.95);
}


input[type="range"] {
    width: 80%;
}

input[type="range"]:focus {
    outline: none;
    border-color: #00703C;
}


div[id^="scenario-"] {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

div[id^="scenario-"]:not([style*="display: none"]) {
    display: block;
    opacity: 1;
}


.next-button {
    font-family: 'Lilita One', cursive;
    font-size: 1.2em;
    margin-top: 20px;
    display: inline-block;
}


#thank-you {
    font-size: 1.5em;
    color: #333;
    margin-top: 30px;
    padding: 20px;
    background-color: #D3F2E4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
    form {
        padding: 20px;
    }

    button {
        width: 100%;
    }
}

@media (max-width: 480px) {
    body {
        height: auto;
        padding-bottom: 20px;
    }

    .main-content {
        padding: 10px;
    }
}

